    /*Galeria babuchas*/
    .seccion-babuchas{
        align-items: flex-start;
        background-color: $fondo-galeria1;
        display: flex;
        justify-content: center;
        padding: var(--spacing-xxl) var(--spacing-l);
      }