   /*Galeria chombas*/
   .seccion-chombas{
    align-items: flex-start;
    background-color: #181818d0;
    display: flex;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }