/******************PIE DE PAGINA******************/
.pie-pagina{
   width: 100%;
   background-color: $color-general-pagina;
}
.pie-pagina .grupo-1{
   background-color: $color-general-pagina;
   width: 100%;
   max-width: 1200px;
   margin: auto;
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap:50px;
   padding: 45px 0px;

   .box figure{
       @extend %flexgeneral;
background-color: $color-general-pagina;
   }

   img{
       width: 250px;
   }

   p{
       text-align: start;
         color: $color-fuente-navfooter;
         margin-bottom: 25px;
         font-size: $fuentes-galerias;
     }

     p{
       color: $color-fuente-navfooter;
       margin-bottom: 10px;
   }

   .red-social a{
       display: inline;
       padding: 20px;
       justify-content: end;
       text-decoration: none;
       width: 70px;
       height: 65px;
       line-height: 45px;
       color: $color-fuente-navfooter;
       margin-right: 10px;
       background-color: $color-general-pagina;
       text-align: center;
       transition: all 300ms ease;
   }

   :hover{
       color: rgb(255, 255, 255);
   }

}


.pie-pagina .grupo-2{
   width: 100%;
   background-color: $color-general-pagina;
   padding: 15px 10px;
   text-align: center;
   color:$color-fuente-navfooter;

   small{
       font-size: $fuentes-galerias;
   }
}