@mixin galeriasmix ($fondo) { 
    align-items: flex-start;
    background-color: $fondo;
    display: flex;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.seccion-babuchas {
    @include galeriasmix(rgb(214, 214, 214));
}
.seccion-buzo {
    @include galeriasmix(rgb(153, 153, 153));
}
.seccion-chombas {
    @include galeriasmix(rgb(214, 214, 214));
}
.seccion-camperas {
    @include galeriasmix(rgb(153, 153, 153));
}