/*GRILLA MOBILE */
@media screen  and (min-width: 50px) and (max-width: 768px) and  (orientation:portrait) {
    #grilla {
        display: grid;
        grid-template-areas:
        "nav nav nav"
        "portada portada portada"
        "nike nike nike"
        "offpuma offpuma offpuma"
        "footer footer footer";
    }

/*NAVBAR*/


nav.navbar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1;
    display: flex;
    flex-wrap: wrap;
    
}

nav.navbar ul li a {
    color: #000000;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}


/*PORTADA AFA*/
.portada .btnafa {
    width: 10px;
    height: 10px;
    font-weight: bolder;
    position: relative;
    bottom: 20px;
    left: 80%;
}
div.portada h4.info__extra {
    font-size: 15px;
}       


/*NIKE*/
.NikeResponsive {
    padding: 35px 0px;
    width: 49.99999%;
    margin: 6px 0;
  }

  
/*OUTLET*/
.OutResponsive {
    width: 49.99999%;
    margin: 6px 0;
  }

/*FOOTER*/
.pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

}
