/************************ General ***************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  