$formato-texto: bolder;
$bordescajas1: 1px solid rgba(0, 70, 150, 0.342);
$bordescajas2: 1.5px solid rgb(0, 0, 0);
$fuentes-galerias: 20px;
$blur-galerias: (brightness(0.5) saturate(0) contrast(1.2) blur(20px));
$alineacion-galerias: flex-start;
$alineacion-contenido-galerias: center;