/************************ HEADER ***************************/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

//variables de form
$yellow:#0062f5;
$black:#000000;
$grey:#085683;