/************************ HEADER ***************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/* ****************BARRA DE NAVEGACION.******************** */
.cabecera {
    background-color: rgb(40, 114, 226);
}
.cabecera button {
    background-color: #00000000;
        position: relative;
        left: 80%;
        bottom: 170px;
        margin: 1%;
        border: none;
    }

/* ****************BARRA DE BUSQUEDA. ******************** */

.barrasearch input {
    position: relative;
    left: 40%;
    top: 10%;
    border-color: #ffffff;
    background-color: #353535;
    font-size: 20px;
    width: 330px;
    height: 40px;
    border-radius: 35px;
}

.barrasearch button {
    position: relative;
    left: 36%;
    top: 4px;
    border-radius: 35px;
    border-bottom: 01px;
}


/* **************LOGO PAGINA**************** */
.cabecera__logo {
    background-color: rgb(40, 114, 226);
}



/* ****************BOTONES MENU DE NAVEGACION****************** */
.cabecera__nav {
    background-color: #ffffff;
}

.cabecera__nav ul {
    background-color: #000000;
    font-size: 30px;
    list-style-type: none;
    padding: 20px;
    position: relative;
    bottom: 20px;
    text-align: center;
}

.cabecera__nav ul li {
    display: inline;
    margin: 50px;
    padding: 6px;
    background-color: rgb(40, 114, 226);
    border-radius: 08px;
    font-size: 24;
    border-bottom: 04px solid; color: rgb(40, 114, 226) ;
}

.cabecera__nav ul li a {
    background-color: rgb(40, 114, 226);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cabecera__nav ul li a:hover {
    color: rgb(0, 0, 0);
}

form.formulario {
    background-color: #050505ea;
    font-size: 20px;
    color: #6e0505;
}

form .boton {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(85, 85, 85, 0.575);
}








/* ******************PIE DE PAGINA.********************* */
footer {
    position: absolute;
    width: 100%;
    font-size: 20px;
    background-color: #252525;
}

footer .pie td a {
    text-decoration: none;
    color: #ffffff;
}

footer .pie td a:hover {
    color: rgb(0, 0, 0);
}

footer h3 {
    background-color: #252525;
}





/*GRILLA MOBILE */
@media screen and (min-width: 1px) and (max-width: 768px) and  (orientation:portrait) {
    #grilla {
        display: grid;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "datos datos datos"
        "formulario formulario formulario""
        "footer footer footer";
    }


/*LOGO PAGINA*/
header section.cabecera {
width: 100%;
margin: 0;
}

    header section.cabecera img.cabecera__logo {
        position: sticky;
        left: 5%;
        width: 50%;
        height: 30%;
        margin: 2%;
    }


/*BOTONES SECUNDARIOS HEADER*/
header ul#botonheader li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    left: 75%;
    bottom: 10%;
    width: 0%;
    height: 10px;
    margin: 30px;
    padding: 20px;
    color: rgb(40, 114, 226);
}

        header li#botonheader button {
            width: 4px;
            
        }

        header li#botonheader button p {
            font-size: 10px;
        

/*BARRA DE BUSQUEDA*/
    }
form.barrasearch {
    position: relative;
    right: 190px;
    top: 20px;
    width: 100%;
}

header form.barrasearch img.icosearch {
    z-index: 2;
    position: relative;
    right: 310px;
    top: 45px;
    display: none;
}

header ul#botonheader li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    left: 75%;
    bottom: 0px;
    width: 0%;
    height: 10px;
    margin: 30px;
    padding: 20px;
    color: rgb(40, 114, 226);
}




/*BOTONES NAVBAR*/
nav {
    position: relative;
    width: 100%;
    bottom: 54%;
}
nav.cabecera__nav ul {
    position: relative;
    width: 100%;
    height: 120%;
    }

nav.cabecera__nav ul li{
    position: relative;
    margin: 2%;
    padding: 1%;
    font-size: 15px;
    bottom: 4px;
    border-radius: 0.5px;
    font-size: 18px;
    }
 .boton__reserva {
    
     font-weight: bold;
    }

/*PIE DE PAGINA*/
footer {
    position: static;
    top: 100%;
    left: 0%;
    width: 100%;
    }



        nav {
            grid-area: nav;
        }
        header {
            grid-area: header;
        }
        .datos {
            grid-area: datos;
        }
        form.formulario{
            grid-area: formulario;
        }
        footer {
            grid-area: footer;
        }
        h1.datos {
            grid-area: datos;
        }
        
        form.formulario {
            grid-area: formulario;
        }

        }