/************************ HEADER ***************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/*::::::::::::::::::::::::NAV::::::::::::::::::::::::*/


nav.navbar ul li a {
    font-size: 20px;
    margin: 30px;
    color: #000000;
    font-weight: bolder;
}

nav.navbar ul li a:hover {
    border-radius: 15px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

nav.navbar form {
    width: 350px
}


/*FORMULARIO*/

h1.datos {
width: 100%;
height: 120px;
text-align: center;
    font-size: 50px;
    color: #efefef;
    background-image: linear-gradient(rgb(40, 87, 141), rgb(0, 0, 0));
}
form.formulario {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    align-items: center;
    background-color: #050505ea;
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
}

form .boton {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(85, 85, 85, 0.575);
}







/* ******************PIE DE PAGINA.********************* */
.pie-pagina{
    width: 100%;
    background-color: rgb(40, 87, 141);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  text-align: start;
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline;
    padding: 20px;
    justify-content: end;
    text-decoration: none;
    width: 70px;
    height: 65px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(40, 87, 141);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.pie-pagina .grupo-2{
    background-color: rgb(40, 87, 141);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 25px;
}





/*GRILLA MOBILE */
@media screen  and (min-width: 50px) and (max-width: 768px) and  (orientation:portrait) {
    #grilla {
        display: grid;
        grid-template-areas:
        "nav nav nav"
        "formulario formulario formulario"
        "footer footer footer";
    }


/*NAVBAR*/


nav.navbar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1;
    display: flex;
    flex-wrap: wrap;
    
}

nav.navbar ul li a {
    color: #000000;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}


/*PIE DE PAGINA*/
.pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}




        nav {
            grid-area: nav;
        }
        header {
            grid-area: header;
        }
        form.formulario{
            grid-area: formulario;
        }
        footer {
            grid-area: footer;
        }
        h1.datos {
            grid-area: datos;
        }
        
        form.formulario {
            grid-area: formulario;
        }
        }