$color-general-pagina: rgb(0, 108, 248);
$color-botones: linear-gradient(90deg, #8a9ecc 0%, #0043a7 100%); 
$color-fuente-navfooter: rgb(0, 0, 0);
$color-fondo-galeria1: #333333;
$color-fondo-galeria2: #131313;