/************************ HEADER ***************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


/*::::::::::::::::::::::::NAV::::::::::::::::::::::::*/


nav.navbar ul li a {
    font-size: 20px;
    margin: 30px;
    color: #000000;
    font-weight: bolder;
}

nav.navbar ul li a:hover {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
       rgba(0, 0, 0, 0.17) 0px 12px 13px,
     rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav.navbar form {
    width: 350px
}


/* ************INFORMACION DE CUOTAS.******************* */
.info__extra {
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    position: relative;
    bottom: 100px;
    left: 0px;

}


/* ************ BOTON RESERVA DE PORTADA AFA. *************** */
.portada .btnafa {
    position: absolute;
    top: 85%;
    left: 81%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .portada .btnafa:hover {
    background-color: rgb(8, 114, 163);
    color: white;
  }

   /*  **************GALERIA NIKE.***************  */
   h2 {
    font-size: 50px;
    font-weight: bolder;
    padding: 2%;
    text-align: center;
  }
   
div.GalleryA {
  border: 1px solid #ccc;
}

div.GalleryA:hover {
  border: 1px solid #777;
  background-color: rgba(32, 32, 32, 0.438);
}

div.GalleryA img {
  width: 100%;
  height: auto;
}

div.descA {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.NikeResponsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}


   /*  **************SECCION PUMA.***************  */
  h1 {
    padding: 2%;
    text-align: center;
  }
  div.GalleryB {
    border: 1px solid #ccc;
  }
  
  div.GalleryB:hover {
    border: 1px solid #777;
  }
  
  div.GalleryB img {
    width: 100%;
    height: auto;
  }
  
  div.descB {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .OutResponsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }


/******************PIE DE PAGINA******************/
.pie-pagina{
    width: 100%;
    background-color: rgb(40, 87, 141);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(40, 87, 141);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: rgb(40, 87, 141);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}




    /*DECLARACIONES*/

    nav {
        grid-area: nav;
    }
    #portada {
        grid-area: portada;
    }
    #nike {
        grid-area: nike;
    }
    #offpuma {
        grid-area: offpuma;
    }
    footer {
        grid-area: footer;
    }






/*GRILLA MOBILE */
@media screen  and (min-width: 50px) and (max-width: 768px) and  (orientation:portrait) {
    #grilla {
        display: grid;
        grid-template-areas:
        "nav nav nav"
        "portada portada portada"
        "nike nike nike"
        "offpuma offpuma offpuma"
        "footer footer footer";
    }

/*NAVBAR*/


nav.navbar {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1;
    display: flex;
    flex-wrap: wrap;
    
}

nav.navbar ul li a {
    color: #000000;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
}


/*PORTADA AFA*/
.portada .btnafa {
    width: 10px;
    height: 10px;
    font-weight: bolder;
    position: relative;
    bottom: 20px;
    left: 80%;
}
div.portada h4.info__extra {
    font-size: 15px;
}       


/*NIKE*/
.NikeResponsive {
    padding: 35px 0px;
    width: 49.99999%;
    margin: 6px 0;
  }

  
/*OUTLET*/
.OutResponsive {
    width: 49.99999%;
    margin: 6px 0;
  }


.pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
}
}


